<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark">
      <form action="/pesquisa" method="post">
        <div class="modal-header" style="border-color: #454d55">
          <h5 class="modal-title" id="ModalLongTitle">Remover da carteira</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="text-shadow: 0 0px 0;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="pwd">O investimento será removido permanentemente de sua carteira.</label>
          <br>
          <label for="pwd">Deseja remover este investimento?</label>
        </div>
        <div class="modal-footer" style="border-color: #454d55">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Remover</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Minha Carteira</h1>
      </div>
    </div>
  </div>
</body>


<table class="table table-dark">
  <thead>
    <tr class="text-center">
      <th scope="col">Sigla</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Redimento absoluto</th>
      <th scope="col">Rendimento percentual</th>
      <th scope="col"></th>
      <!-- <th scope="col">Quantidade de pepéis</th>
      <th scope="col">Valor do papel</th>
      <th scope="col">Data da compra</th> -->
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr class="text-center">
        <td class="align-middle">{{code}}</td>
        <td class="align-middle">{{quantity}}</td>
        <td class="align-middle">R$ 00,00</td>
        <td class="align-middle">0,00 %</td>
        <!-- <td>{{absolutRevenue}}</td>
        <td>{{quantity}}</td>
        <td>R$ {{investedAmount}}</td>
        <td>{{date}}</td> -->
        <td>
          <a class="btn btn-primary p-0" title="Detalhes" data-toggle="collapse" href="#collapse{{id9}}" role="button" aria-expanded="false" aria-controls="collapseExample" style="height: 27px; width: 27px;">
            <i class="material-icons" style="vertical-align: middle;">add</i>
          </a>
        </td>
        <td>
          <a class="btn p-0" title="Remover da carteira" data-toggle="modal" data-target="#Modal" data-whatever="NomeAção" style="height: 27px; width: 27px;">
          <i class="material-icons" style="vertical-align: middle;">close</i>
        </td>
      </tr>
      <tr>
        <td colspan="100" class="p-0 border-top-0" style="background-color: #33373c;">
          <div class="collapse" id="collapse{{id}}">
            <div class="row px-2 pb-2 pt-1">
              <div class="col-sm-6">
                <div class="row justify-content-center">
                  <div class="col-sm-4 text-center">
                    <p class="mb-1">Valor investido</p>
                    <p>R$ {{formatMoney totalinvestedAmount}}</p>
                  </div>
                  <div class="col-sm-4 text-center">
                    <p class="mb-1">Valor atual</p>
                    <p>R$ 00,00</p>
                  </div>
                </div>
                <div class="row ml-3 mt-2">
                  <p>Rendimento da última semana: 0,00%</p>
                </div>
                  <div class="row ml-3">
                    <p>Data da compra:&nbsp;</p>
                    <p>{{formatTime date "DD/MM/YYYY"}}</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="border border-primary h-100 text-center">
                    Gráfico aqui :)
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
