<!-- Modal -->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark">
      <form action="/deletar" method="post">
        <div class="modal-header" style="border-color: #454d55">
          <h5 class="modal-title" id="ModalLongTitle">Remover da carteira</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"
            style="text-shadow: 0 0px 0;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="pwd">O investimento será removido permanentemente de sua carteira.</label>
          <br>
          <label for="pwd">Deseja remover este investimento?</label>
        </div>
        <div class="modal-footer" style="border-color: #454d55">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <input type="text" id="_id" name="_id" style="display: none">
          <button type="submit" class="btn btn-primary">Remover</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Minha Carteira</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <table class="table table-dark">
    <thead>
      <tr class="text-center">
        <th scope="col">Sigla</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Redimento absoluto</th>
        <th scope="col">Rendimento percentual</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr class="text-center">
        <td class="align-middle">{{code}}</td>
        <td class="align-middle">{{quantity}}</td>
        <td class="align-middle" id="rendimento-total-{{id}}">Rendimento</td>
        <td class="align-middle" id="rendimento-porcentagem-{{id}}">Porcentagem</td>
        <td>
          <a class="btn btn-primary p-0" title="Detalhes" data-toggle="collapse" href="#collapse{{id}}" role="button"
            aria-expanded="false" aria-controls="collapseExample" style="height: 27px; width: 27px;">
            <i class="material-icons" style="vertical-align: middle;">add</i>
          </a>
        </td>
        <td>
          <a class="btn p-0" title="Remover da carteira" data-toggle="modal" data-target="#Modal2" data-id={{id}} style="height: 27px; width: 27px;">
            <i class="material-icons" style="vertical-align: middle;">close</i>
        </td>
      </tr>
      <tr>
        <td colspan="100" class="p-0 border-top-0" style="background-color: #33373c;">
          <div class="collapse" id="collapse{{id}}">
            <div class="row px-2 pb-2 pt-1">
              <div class="col-sm-6">
                <div class="row justify-content-center">
                  <div class="col-sm-4 text-center">
                    <p class="mb-1">Valor total investido</p>
                    <p>R$ {{formatMoney totalinvestedAmount}}</p>
                  </div>
                  <div class="col-sm-4 text-center">
                    <p class="mb-1">Valor total atual</p>
                    <p id="valor-total-{{id}}"> Total </p>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-sm-4 text-center">
                    <p class="mb-1">Valor de compra</p>
                    <p>R$ {{formatMoney investedAmount}}</p>
                  </div>
                  <div class="col-sm-4 text-center">
                    <p class="mb-1">Valor atual do papel</p>
                    <p id="valor-atual-{{id}}"> Valor </p>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-sm-8 text-center">
                    <p class="mb-1">Data da compra: {{formatTime date "yyyy/mm/dd"}}</p>
                  </div>
                </div>

                <script type="text/javascript">
                  $.getJSON('/pesquisa-stock/{{code}}', data => {
                    console.log(data['05. price'] * {{ quantity }});
                  var atual = data['05. price'];
                  atual = parseFloat(atual);
                  atual = atual.toFixed(2);
                  atual = "R$" + atual;
                  atual = atual.replace(".", ",");
                  $("#valor-atual-{{id}}").text(atual);

                  var total = data['05. price'] * {{ quantity }};
                  total = total.toFixed(2);
                  total = "R$" + total;
                  total = total.replace(".", ",");
                  $("#valor-total-{{id}}").text(total);

                  var porc = (((data['05. price'] * {{ quantity }}) - {{ totalinvestedAmount }})* 100) /{{totalinvestedAmount}} ;
                  porc = parseFloat(porc);
                  porc = porc.toFixed(2);
                  porc = porc + "%";
                  porc = porc.replace(".", ",");
                  $("#rendimento-porcentagem-{{id}}").text(porc);

                  var rend = (data['05. price'] * {{ quantity }}) - {{ totalinvestedAmount }};
                  rend = parseFloat(rend);
                  rend = rend.toFixed(2);
                  rend = "R$" + rend;
                  rend = rend.replace(".", ",");
                  $("#rendimento-total-{{id}}").text(rend);
                  });
                </script>
              </div>
              <div class="col-sm-6">
                <div class="border border-primary h-100 text-center">
                  <!-- Gráfico de linha -->
                  <!-- start Canvas -> Desenhar elementos gráficos usado JS -->
                  <canvas class="line-chart{{id}}"></canvas>
                  <!-- Construção do gráfico -->
                  <script>
                    var ctxl = document.getElementsByClassName("line-chart{{id}}");
                    //Cor padrão das fontes
                    Chart.defaults.global.defaultFontColor = 'white';
                    var chartGraph = new Chart(ctxl, {
                      //Tipo de gráfico: linha
                      type: 'line',
                      data: {
                        //Eixo X
                        labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
                        datasets: [{
                          //Legenda / Nome do eixo Y
                          label: "Valor da Ação",
                          //Dados eixo Y
                          data: [10, 20, 26, 30, 29, 60, 21, 15, 28, 09, 43, 12],
                          //Espessura da linha
                          borderWidth: 4,
                          //Cor da linha (primária)
                          borderColor: '#459124',
                        }]
                      },
                      options: {
                        animation: {
                          onProgress: function (animation) {
                          }
                        },
                        title: {
                          //Título do gráfico
                          display: true,
                          text: 'Valor da ação',
                          align: 'start',
                          padding: 15
                        },
                        legend: {
                          display: false,
                          //Alinhamento da legenda: alinhamento não ta funcionando
                          //align: 'end',
                          //osition: 'top',
                          //labels: {
                            //Largura da caixa de legenda
                           //boxWidth: 10
                          //}
                        }
                      }
                    });
                  </script>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-center">
      <!-- Gráfico circular -->
      <!-- start Canvas -> Desenhar elementos gráficos usado JS -->
      <canvas class="doughnut-chart"></canvas>
      <!-- Construção do gráfico -->
      <script>
        var ctxd = document.getElementsByClassName("doughnut-chart");
        //Cor padrão das fontes
        Chart.defaults.global.defaultFontColor = 'white';

        var listaValores = [];
        var listaNomes = [];
        var nome = "Nome";
        var numero;
        {{#each products}}
        numero = parseFloat({{ totalinvestedAmount }});
        nome = "{{code}}";
        numero = numero.toFixed(2);
        listaValores.push(numero);
        listaNomes.push(nome);
        {{/each}}

            //Cor padrão das fontes
            //Chart.defaults.global.defaultFontColor = 'white';
            var chartGraph = new Chart(ctxd, {
              //Tipo de gráfico: doughnut
              type: 'doughnut',
              data: {
                datasets: [{
                  //Dados de cada ação
                  data: listaValores,
                  //Cores do fundo
                  backgroundColor: ['#459124', '#4f585c', 'white', 'blue', 'violet'],
                  //Cor da borda (mesma cor do plano de fundo)
                  borderColor: '#0f100f',
                  //Espessura da borda
                  borderWidth: 3,
                  borderAlign: 'inner'
                }],
                //Legenda / Nome das ações
                labels: listaNomes,
              },
              options: {
                //Animação: o gráfico será animado com uma animação de rotação.
                animation: {
                  animateRotate: true
                },
                title: {
                  //Título do gráfico
                  display: true,
                  text: 'Distribuição de Investimentos',
                  fontSize: 14,
                  padding: 20
                },
                legend: {
                  display: true,
                  //Alinhamento da legenda: alinhamento não ta funcionando
                  align: 'end',
                  position: 'top',
                  labels: {
                    //Largura da caixa de legenda
                    boxWidth: 10
                  }
                }
              }
            });
      </script>

      <script type="text/javascript">
        //Enviar ao modal qual é a sigla da ação
        $('#Modal2').on('show.bs.modal', function(event) {
          var button = $(event.relatedTarget); // Button that triggered the modal
          var recipient = button.data('id'); // Extract info from data-* attributes
          console.log(recipient);// Update the modal's content. We'll use jQuery here
          var modal = $(this);
          modal.find('#_id').val(recipient);
        });
      </script>
      
    </div>
  </div>
</div>